#bola{
	text-align: center;
	margin:0;
	border: dotted 2px;
	border-color: red;
	width: 200px;
	height: 200px;
	background-color: red;
	border-radius: 100px;
}

#bola:hover{
	background-color:blue;
	transition: 0.3s;
}